@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville:wght@700&family=Roboto:wght@500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #24262b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}


.navbar a {
    position: relative;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a, .navbar .search {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px; 
}

.navbar .search {
    margin-left: auto; 
    margin-left: 40px;  
}


.search {
        background-color: transparent;
        border: 2px solid var(--primary color);
        padding:0.5rem 1rem;
        border-radius: 50px;
        font-size: 1rem;
        color: #fff;
        font-family: inherit;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: rgb(68, 68, 68);
}


body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer {
    width: 100%;
    background-color: #24262b;
    padding: 30px 0;
    margin-top: auto; 
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #fdfdfd;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}



.mention-legale {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.mention-legale h2 {
    padding-top: 20px;
}
.mention-legale p {
    padding-top: 20px;
}

